@page "/Scenario3"
@using GameLogic
@using Microsoft.AspNetCore.Components.Web
@inherits gmtk2020_blazor.IndexBase
@using gmtk2020_blazor.Helpers
@using gmtk2020_blazor.Shared.Components
@using Shared.Components

<CascadingValue Value="@this">
    <WinBanner />
</CascadingValue>

<div class="px-4">

    <OperatingSystemDrawer Scenario="@Scenario"></OperatingSystemDrawer>

    <div class="viewport">
        <h3>Scenario 3</h3>
        
        @{
            var winCondition = "Success is achieved when 'ACCESS GRANTED' is a line in the output";
        }

        <p>
            I think they're starting to catch on, they're not storing passwords in memory anymore. Not that it'll do them any good. @winCondition
        </p>

        <CascadingValue Value="@this">
            <TerminalViewport>
                <KeyboardEntry LaunchAction="@(x => this.Launch(x))"></KeyboardEntry>
            </TerminalViewport>
        </CascadingValue>

  
            <PrinterOutputDisplay Printer="@Scenario.Printer" WinCondition="@winCondition"></PrinterOutputDisplay>
       
    </div>
</div>



@code {

    @code {

        protected override void OnInitialized()
        {
            base.OnInitialized();

            this.Scenario = new LateralThinkingScenario();
        }

    }

}